<div class="container">
	<h1 class="text-center about"> Team Fleeking Beauty</h1>
	<div class="row team-c">
		<div class="col-md-3">
			<%= image_tag "/images/is.jpg", class: "img-responsive img-circle" %>
			<h3 class="text-center green">IS</h3>
			<a href="https://github.com/isangieri" target='_blank'> <p class="text-center">Github</p></a>
			<h5 class="text-center pink">Seriously serious about data visualization</h5>
		</div>
		<div class="col-md-3">
			<%= image_tag "/images/breon.jpg", class: "img-responsive img-circle" %>
			<h3 class="text-center green">Breon</h3>
			<a href="https://github.com/BreonKnight" target='_blank'> <p class="text-center">Github</p></a>
			<h5 class="text-center pink">Based in Berkeley. Breon is a Software Engineer that loves Anime, Music, Videogames and Programming. "Throw me anywhere on the stack." </h5>
		</div>
		<div class="col-md-3">
			<%= image_tag "/images/rich.jpg", class: "img-responsive img-circle" %>
			<h3 class="text-center green">Rich</h3>
			<a href="https://github.com/bw-giraffe" target='_blank'> <p class="text-center">Github</p></a>
			<h5 class="text-center pink"> Rich is a web developer based in Oakland, CA. He like maps, photography and hiking.</h5>
		</div>
		<div class="col-md-3">
			<%= image_tag "/images/nathan.jpg", class: "img-responsive img-circle" %>
			<h3 class="text-center green">Nathan</h3>
			<a href="https://github.com/anonym0us3" target='_blank'> <p class="text-center">Github</p></a>
			<h5 class="text-center pink">"Nathan is all about sandwich superiority, embedding cat gifs everywhere, and widgets. ​_All_​ the widgets." 
			<br>
			 - James Monroe</h5>
		</div>


	</div>

</div>