<div class="container">
	<h1 class="text-center"> Team Fleeking Beauty</h1>
	<div class="row">
		<div class="col-md-3">
			<%= image_tag "/images/is.jpg", class: "img-responsive img-circle" %>
			<h3 class="text-center">IS</h3>
			<a href="https://github.com/isangieri" target='_blank'> <p class="text-center">github</p></a>
		</div>
		<div class="col-md-3">
			<%= image_tag "/images/breon.jpg", class: "img-responsive img-circle" %>
			<h3 class="text-center">Breon</h3>
			<a href="https://github.com/BreonKnight" target='_blank'> <p class="text-center">github</p></a>
		</div>
		<div class="col-md-3">
			<%= image_tag "/images/rich.jpg", class: "img-responsive img-circle" %>
			<h3 class="text-center">Rich</h3>
			<a href="https://github.com/bw-giraffe" target='_blank'> <p class="text-center">github</p></a>
		</div>
		<div class="col-md-3">
			<%= image_tag "/images/nathan.jpg", class: "img-responsive img-circle" %>
			<h3 class="text-center">Nathan</h3>
			<a href="https://github.com/anonym0us3" target='_blank'> <p class="text-center">github</p></a>
		</div>
	</div>
</div>