<div class="jumbotron hero">
	<div class="center-block">
    <!-- currently the h1jumbo class does not appear to be styled in users.scss. Can we delete it? -->
		<h1 class="text-center h1jumbo"><strong>Fleeking Beauty</strong></h1>
 	</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 site-info">
			<h4 class="text-center">Beauty is in the eye of the beholder. What do the places you like say about you? <a href="/users/new" style="color:#26F9B2">Sign up</a> to find out more!!!</h4>
		</div>
	</div>
	<div class="row">
		<div class-"col-md-12">
	   <h1 class="text-center brand-msg"><%= link_to(places_path) do %>
    <strong>Unleash your aesthetic judgment upon the internet presence of any place on earth.</strong>
    <% end %>
		</h1>
		</div>
		</div>
</div>

