<div class="container">
	<h1 class="text-center">Current Users</h1>
	
	<div class= "row">
		<% @users.each do |user| %>
		<div class="col-md-4">
			<%= link_to(user) do %>
			<h1 class="text-center"><%= user.userName %></h1>
			<% end %>
			<%= image_tag(user.avatar, size: "320x426", class: "center-block") %>
				</div>
		<% end %>
	</div>
</div>