// Place all the styles related to the all controllers here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Importing fonts from google fonts
@import url(//fonts.googleapis.com/css?family=Faster+One|Gudea:400,700,400italic|Monoton);

// font-family: 'Faster One', cursive;
// font-family: 'Gudea', sans-serif;
// font-family: 'Monoton', cursive;

// COLORS //
$violetred: #FA5096;
$teaRose: #FF8ABA;
$freeSpeechMagenta: #D83FEF;
$lavenderIndigo: #AF4DF8;
$caribbeanGreen: #26F9B2;
$picasso: #FFF29C;
$tangerine: #FECF03;
$tango: #F68121;
$black: #000000;
$white: #FFFFFF;
$irisBlue: #02B5D0;
$turquoise: #3EF0FE;
$icterine: #FFF35F;
$juneBud: #C6EF4B;
$montana: #393939;



.site-info{
	background-image: image-url("beach.gif");
	color: $white;
	font-family: 'Gudea', sans-serif;
	background-size: cover;
	height: 800px;
	opacity: 0.7px;
}

h4.text-center{
	font-size: 40px;
	padding-top: 300px;
	opacity: 1px;
	color: $white;
}

div.row.team-c{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 80px;
	margin-top: 40px;
}

.footer > .container{
	padding-right: 15px;
	padding-left: 15px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $lavenderIndigo;
}

.pink{
	color: $teaRose;
}

.green{
	color: $caribbeanGreen;
}

span.text-muted{
	color: $white;
	padding-left: 5px;
}