// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photoTile{
	height: 300px;
}

h1.vote.places-name{
	font-size: 25px;
	padding-top:50px;
	padding-bottom: 50px;
}

h1.text-center.place-h1{
	padding-bottom: 10px;
}