// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	padding-top: 70px;
}

.info-banner{
	background-color: black;
	color: white;
	width: 50%;
	padding: 10px;
	margin-bottom: 20px;
}