// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// COLORS //
$violetred: #FA5096;
$teaRose: #FF8ABA;
$freeSpeechMagenta: #D83FEF;
$lavenderIndigo: #AF4DF8;
$caribianGreen: #26F9B2;
$picasso: #FFF29C;
$tangerine: #FECF03;
$tango: #F68121;
$black: #000000;
$white: #FFFFFF;
$irisBlue: #02B5D0;
$turquoise: #3EF0FE;
$icterine: #FFF35F;
$juneBud: #C6EF4B;





.half{
	width: 50%;
}

.prof{
	padding-top: 70px;
}

.votebox{
	border: 1px solid black;
	background-color: black;
	color:white;
}