<div class = "col-lg-8 col-lg-offset-4">
	<h1>Vote</h1>
</div>
<br>
<div class = "col-lg-8 col-lg-offset-4">
	<%= image_tag("#{@photo_array[@n]}", 'data-place' => "#{@place.id}", 'max-height' => "400", 'id' => "current_img") %>
</div>

<div class = "col-lg-8 col-lg-offset-4" id = "buts">
		<button type = "button" id = "hotbut" class = ".btn-lg" >HOT</button>
		<button type = "button" id = "notbut" class = ".btn-lg">NOT</button>
</div>
