<div class="container">
	<h1 class="text-center">Places Names</h1>
	
	<div>
		<% @places.each do |place| %>
			<%= link_to(place) do %>
			<h1><%= place.name %></h1>
			<% end %>
		<% end %>
	</div>
</div>