<h2>Don't see a place? Add one.</h2>
<p></p>
<%= form_for :place, url: {action: "create"} do %>
	<%= label_tag("New Place") %>
	<%= text_field_tag(:name) %>
	<br>
	<%= submit_tag("Create") %>
<% end %>